<div class="parent">
    <div class="left">
        <h1 class="h4 text-primary mb-4">Dashboard</h1>
        <h2 class="h6 mb-3" routerLink="/dashboard/clock">clock</h2>
        <h2 class="h6 mb-3" routerLink="/dashboard/calculator">calculator</h2>
        <h2 class="h6 mb-3" routerLink="/dashboard/event">event</h2>
        <h2 class="h6 mb-3" routerLink="/dashboard/login-page">login-page</h2>
        <h2 class="h6 mb-3" routerLink="/dashboard/directives">directives  </h2>
        <h2  class="h6 mb-3" routerLink="/dashboard/table">tables  </h2>
        <h2  class="h6 mb-3" routerLink="/dashboard/flipkart">flipkart</h2>
        <h2  class="h6 mb-3" routerLink="/dashboard/vehicles">vehicles</h2>
        <h2  class="h6 mb-3" routerLink="/dashboard/amazon">Amazon</h2>
        <h2  class="h6 mb-3" routerLink="/dashboard/email">Email</h2>
        <h2  class="h6 mb-3" routerLink="/dashboard/card">Card</h2>
        <h2  class="h6 mb-3" routerLink="/dashboard/weather">weather</h2>
        <h2  class="h6 mb-3" routerLink="/dashboard/idcards">Id Cards</h2>
    
    </div>
    
    <div class="right">
        <router-outlet></router-outlet>
    </div>
    
</div>
