


<table  class="student-table">
  <tr>
    <th>Field</th>
    <th>Details</th>
  </tr>
  <tr>
    <td>Profile Picture</td>
    <td><img [src]="studentdetails.profile_picture" class="profile-pic" alt="Profile"></td>
  </tr>
  <tr>
    <td>Name</td>
    <td>{{ studentdetails.name }}</td>
  </tr>
  <tr>
    <td>City</td>
    <td>{{ studentdetails.city }}</td>
  </tr>
  <tr>
    <td>Date of Birth</td>
    <td>{{ studentdetails.dob }}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{ studentdetails.email }}</td>
  </tr>
  <tr>
    <td>Phone</td>
    <td>{{ studentdetails.phone }}</td>
  </tr>
  <tr>
    <td>School Logo</td>
    <td><img [src]="studentdetails.school_logo" class="school-logo" alt="School Logo"></td>
  </tr>
  <tr>
    <td>School Name</td>
    <td>{{ studentdetails.school_name }}</td>
  </tr>
  <tr>
    <td>School City</td>
    <td>{{ studentdetails.school_city }}</td>
  </tr>
  <tr>
    <td>PIN</td>
    <td>{{ studentdetails.school_pin }}</td>
  </tr>
</table>
